.iconUser {
  color: var(--secondary-Main);
  width: 54px;
  height: 54px;
}

.iconDoor {
  color: var(--secondary-Main);
  width: 60px;
  height: 90px;
}

.container-schedule {
  margin: 20px;
  display: grid;
  grid-template-rows: 10% 90%;
  background: linear-gradient(to top, #FFFFFF 86%, #F9BE73 14%);
  width: 694px;
  height: 676px;
  padding-left: 20px;
  padding: 12px;
  border-radius: 51px;
}

.header {
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  font-weight: 700;
  font-size: 15px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 100px 400px;
  margin-top: 150px;
  margin-left: 60px;
}

.userText {
  font-size: 70px;
  height: 60px;
  width: 300px;
  color: var(--font-Color)
}

.doorText {
  font-size: 70px;
  height: 60px;
  width: 300px;
  color: var(--font-Color)
}

@media screen and (max-width: 5120px) {
  .iconUser {
    color: var(--secondary-Main);
    width: 240px;
    height: 240px;
    margin-right: 80px;
  }
  .iconDoor {
    color: var(--secondary-Main);
    margin-top: 60px;
    width: 200px;
    height: 200px;
    margin-right: 80px;
  }
  .container-schedule {
    margin: 40px;
    display: grid;
    grid-template-rows: 10% 90%;
    background: linear-gradient(to top, #FFFFFF 86%, #F9BE73 14%);
    width: 1400px;
    height: 1400px;
    padding-left: 80px;
    padding: 24px;
    border-radius: 100px;
  }
  .header {
    margin-top: 40px;
    margin-left: 40px;
    color: white;
    font-weight: 700;
    font-size: 40px;
  }
  .gridContainer {
    display: grid;
    grid-template-columns: 200px 800px;
  }
  .userText {
    font-size: 160px;
    height: 120px;
    width: 800px;
    color: var(--font-Color);
    margin-left: 80px;
  }
  .doorText {
    font-size: 160px;
    height: 120px;
    width: 600px;
    margin-top: 100px;
    margin-left: 80px;
    color: var(--font-Color);
  }
}

@media screen and (max-width: 4096px) {
  .iconUser {
    color: var(--secondary-Main);
    width: 160px;
    height: 160px;
    margin-right: 80px;
  }
  .iconDoor {
    color: var(--secondary-Main);
    margin-top: 60px;
    width: 200px;
    height: 200px;
    margin-right: 80px;
  }
  .container-schedule {
    margin: 40px;
    display: grid;
    grid-template-rows: 8% 92%;
    background: linear-gradient(to top, #FFFFFF 86%, #F9BE73 14%);
    width: 1300px;
    height: 1300px;
    padding-left: 80px;
    padding: 24px;
    border-radius: 100px;
  }
  .header {
    margin-top: 40px;
    margin-left: 40px;
    color: white;
    font-weight: 700;
    font-size: 40px;
  }
  .gridContainer {
    display: grid;
    grid-template-columns: 200px 800px;
  }
  .userText {
    font-size: 160px;
    height: 120px;
    width: 800px;
    color: var(--font-Color);
  }
  .doorText {
    font-size: 160px;
    height: 120px;
    width: 600px;
    margin-top: 100px;
    color: var(--font-Color);
  }
}

@media screen and (max-width: 3840px) {
  .iconUser {
    color: var(--secondary-Main);
    width: 108px;
    height: 108px;
  }
  .iconDoor {
    color: var(--secondary-Main);
    margin-top: 60px;
    width: 120px;
    height: 180px;
  }
  .container-schedule {
    margin: 40px;
    display: grid;
    grid-template-rows: 10% 90%;
    background: linear-gradient(to top, #FFFFFF 86%, #F9BE73 14%);
    width: 1300px;
    height: 1300px;
    padding-left: 40px;
    padding: 24px;
    border-radius: 100px;
  }
  .header {
    margin-top: 40px;
    margin-left: 40px;
    color: white;
    font-weight: 700;
    font-size: 30px;
  }
  .gridContainer {
    display: grid;
    grid-template-columns: 100px 800px;
    margin-top: 200px;
    margin-left: 120px;
  }
  .userText {
    font-size: 150px;
    height: 120px;
    width: 600px;
    color: var(--font-Color)
  }
  .doorText {
    font-size: 150px;
    height: 120px;
    width: 600px;
    margin-top: 100px;
    color: var(--font-Color)
  }
}

@media screen and (max-width: 1920px) {
  .iconUser {
    color: var(--secondary-Main);
    width: 70px;
    height: 70px;
  }
  .iconDoor {
    color: var(--secondary-Main);
    margin-top: 110px;
    width: 80px;
    height: 80px;
    margin-bottom: 400px;
  }
  .container-schedule {
    margin: 10px;
    margin-top: 60px;
    display: grid;
    grid-template-rows: 10% 90%;
    background: linear-gradient(to top, #FFFFFF 86%, #F9BE73 14%);
    width: 650px;
    height: 650px;
    padding-left: 10px;
    padding: 6px;
    border-radius: 26px;
  }
  .header {
    margin-top: 10px;
    margin-left: 35px;
    color: white;
    font-weight: 700;
    font-size: 20px;
  }
  .gridContainer {
    display: grid;
    grid-template-columns: 50px 1000px;
    margin-top: 100px;
    margin-left: 30px;
  }
  .userText {
    font-size: 80px;
    height: 30px;
    width: 400px;
    color: var(--font-Color)
  }
  .doorText {
    font-size: 70px;
    height: 30px;
    width: 350px;
    margin-top: 200px;
    color: var(--font-Color)
  }
}

@media screen and (max-width: 1024px) {
  .iconUser {
    color: var(--secondary-Main);
    width: 40px;
    height: 40px;
  }
  .iconDoor {
    color: var(--secondary-Main);
    width: 50px;
    height: 50px;
  }
  .container-schedule {
    margin: 10px;
    display: grid;
    grid-template-rows: 5% 95%;
    background: linear-gradient(to top, #FFFFFF 86%, #F9BE73 14%);
    width: 342px;
    height: 343px;
    padding-left: 10px;
    padding: 6px;
    border-radius: 26px;
  }
  .header {
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-weight: 700;
    font-size: 10px;
  }
  .gridContainer {
    display: grid;
    grid-template-columns: 5px 400px;
    margin-top: 75px;
    margin-left: 20px;
  }
  .userText {
    font-size: 37px;
    height: 30px;
    width: 150px;
    color: var(--font-Color)
  }
  .doorText {
    font-size: 37px;
    height: 30px;
    width: 150px;
    margin-top: 95px;
    color: var(--font-Color)
  }
}