.home-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
}

.gridTemplateTwo {
  display: flex;
  justify-content: center;
}

.gridTemplateContent {
  margin-top: 10px;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-Schedule);
  padding-bottom: 180px;
}

.gridTemplateTwo h2 {
  margin-top: 10px;
  color: var(--font-Color);
  font-size: 2rem;
  font-weight: 700;
}

.patients {
  margin: 20px 60px;
  font-size: 35px;
  color: var(--font-Color);
}

@media screen and (max-width: 5120px) {
  .home-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    overflow: hidden;
  }
  .gridTemplateTwo {
    display: flex;
    justify-content: center;
  }
  .gridTemplateContent {
    margin-top: 20px;
  }
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-Schedule);
    padding-bottom: 180px;
  }
  .gridTemplateTwo h2 {
    margin-top: 20px;
    color: var(--font-Color);
    font-size: 2rem;
    font-weight: 700;
  }
  .patients {
    margin: 20px 60px;
    font-size: 90px;
    color: var(--font-Color);
  }
}

@media screen and (max-width: 4096px) {
  .home-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    overflow: hidden;
  }
  .gridTemplateTwo {
    display: flex;
    justify-content: center;
  }
  .gridTemplateContent {
    margin-top: 200px;
  }
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-Schedule);
    padding-bottom: 180px;
  }
  .gridTemplateTwo h2 {
    margin-top: 20px;
    color: var(--font-Color);
    font-size: 2rem;
    font-weight: 700;
  }
  .patients {
    margin: 20px 60px;
    font-size: 70px;
    color: var(--font-Color);
  }
}

@media screen and (max-width: 3840px) {
  .home-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    overflow: hidden;
  }
  .gridTemplateTwo {
    display: flex;
    justify-content: center;
  }
  .gridTemplateContent {
    margin-top: 200px;
  }
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-Schedule);
    padding-bottom: 180px;
  }
  .gridTemplateTwo h2 {
    margin-top: 20px;
    color: var(--font-Color);
    font-size: 2rem;
    font-weight: 700;
  }
  .patients {
    margin: 20px 60px;
    font-size: 70px;
    color: var(--font-Color);
  }
}

@media screen and (max-width: 1920px) {
  .home-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    overflow: hidden;
  }
  .gridTemplateTwo {
    display: flex;
    justify-content: center;
  }
  .gridTemplateContent {
    margin-top: 40px;
  }
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-Schedule);
    padding-bottom: 180px;
  }
  .gridTemplateTwo h2 {
    margin-top: 10px;
    color: var(--font-Color);
    font-size: 2rem;
    font-weight: 700;
  }
  .patients {
    margin: 10px 20px;
    font-size: 40px;
    color: var(--font-Color);
  }
}

@media screen and (max-width: 1024px) {
  .home-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    overflow: hidden;
  }
  .gridTemplateTwo {
    display: flex;
    justify-content: center;
  }
  .gridTemplateContent {
    margin-top: 40px;
  }
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-Schedule);
  }
  .gridTemplateTwo h2 {
    margin-top: 10px;
    color: var(--font-Color);
    font-size: 2rem;
    font-weight: 700;
  }
  .patients {
    margin: 10px 20px;
    font-size: 20px;
    color: var(--font-Color);
  }
}